@import url(reset.css);
@import url(normalize.css);

:root {
    --fst-font-color: #000;
    --sec-font-color: #FFF;
    --pos-font-color: #090;
    --neg-font-color: #D00;
    --att-font-color: #FC0;

    --fst-theme-color: #0C8;
    --sec-theme-color: #EEE;
    --trd-theme-color: #AAA;

    --button-bg-color: #29F;

    --footer-bg-color: #ff6;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    /* margin: 0; */
    margin-bottom: 50px;
    /* overflow: hidden; */
}

a:visited {
    color: var(--sec-font-color)
}

a:link {
    color: var(--sec-font-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#navBar {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: var(--fst-theme-color);
}

#navLinks {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    color: var(--sec-font-color);
}


#complementoNavBar {
    z-index: 1;
    position: fixed;
    top: 60px;
    right: 0;
    width: 100vw;
    height: 34px;
    background-color: var(--sec-theme-color);
}

.mainSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
}

#resumoDespesas {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.resumoValores {
    border-radius: 4%;
    border-top: none;
    /* margin-top: 50px; */
    text-align: center;
    box-shadow: 0px 2px 2px var(--trd-theme-color) ;
}

#resumoPagas {
    width: 32%;
    border-bottom: solid 3px var(--pos-font-color);
}

#resumoAPagar {
    width: 32%;
    border-bottom: solid 3px var(--neg-font-color);
}

#resumoAtrasadas {
    width: 32%;
    border-bottom: solid 3px var(--att-font-color);
}

.tituloResumo {
    font-weight: bold;
}

.valorResumoPagas {
    color: var(--pos-font-color);
}

.valorResumoAPagar {
    color: var(--neg-font-color);
}

.valorResumoAtrasadas {
    color: var(--att-font-color);
}

.recursos {
    width: 60%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.filtragem {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#cadastroCategorias {
    margin-top: 50px;
}

legend {
    font-size: 0.65em;
}

.textoFormFiltro {
    width: 85%;
}

.textoPesquisa {
    width: 100%;
    border: none;
    border-bottom: solid 1px var(--trd-theme-color);
    outline: none;
    font-size: 1em;
    margin-top: 5px;
    /* font-size: 0.8em; */
}

.botao {
    height: 2.5em;
    background-color: var(--button-bg-color);
    color: var(--sec-font-color);
    border: none;
    border-radius: 4px;
    font-size: 0.8em;
    padding: 2px 6px 0px;
    box-shadow: 2px 2px 2px var(--trd-theme-color);
}

.botaoAdicionar {
    position: fixed;
    right: 120px;
    bottom: 50px;
    font-size: 1.1em;
}

.areaTabela {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.tabela {
    width: 100%;
}

.tabela>thead>tr {
    width: 100%;
    background-color: var(--sec-theme-color);
}

.tabela th,
.tabela td {
    padding: 12px 4px;
    border-bottom: solid 1px var(--trd-theme-color);
    text-align: left;
}

.tituloHeadTabela {
    border-right: solid 1px;
}

.tabela tr:nth-child(even) {
    background-color: var(--4th-theme-color);
}

.tabela th {
    border-right: solid 1px;
    border-style: ridge;
    width: 25%;
}

.btnPago {
    background-color: var(--pos-font-color);
}

.btnPendente {
    background-color: var(--neg-font-color);
}

.add {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 100px
}

.tituloModal {
    color: var(--button-bg-color);
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.5em;
}

.botaoCancel {
    font-weight: bold;
    background-color: var(--sec-font-color);
    border: solid 1px var(--neg-font-color);
    color: var(--neg-font-color);
}

.salvarOuCancelar {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.esconde {
    display: none;    
}

.espacoBotoes {
    gap: 40%;
    margin-bottom: 0;
}







































em {
    font-weight: bold;
}

footer {
    width: 100%;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    /* z-index: 1; */
    background-color: var(--footer-bg-color);
    color: var(--trd-theme-color);
}